.modal-title{
    font-size: 26px;
    text-align: center;
    margin: 36px 0;
}

.modal-text{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;

    p{
        font-size: 16px;
        text-align: center;
    }
}

.modal-buttons{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;

    button{
        width: 120px;
        line-height: 40px;
        cursor: pointer;
        border-radius: 8px;
    }

    
    .modal-close{
        border: 1px solid #DBDCDD;
        color: #737380;
        background-color: #DBDCDD;
    }

    .modal-close:hover{
        border: 1px solid #CECECE;
        background-color: #CECECE;   
    }
    
    .modal-remove-question{
        border: 1px solid #E73F5D;
        color: white;
        background-color: #E73F5D;
        
    }

    .modal-remove-question:hover{
        border: 1px solid #D73754;
        background-color: #D73754;   
    }
}
