.room-code{
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #835afd;
    background-color: #835afd;
    cursor: pointer;

    div {
        padding: 0 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 280px;

        span{
            font-size: 14px;
            font-weight: 500;
            color: #fff;
        }
    }

    &:hover{
        filter: brightness(0.9);
    }
}